 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
table{ /* ReqS16 */
    border:1px solid #DCC5A2;
    width:60vw;/* ReqS5 */
    margin-left:1.5em;
    font-family:'Nunito',sans-serif;
    
}

table.fish tr:hover th{ /* ReqS11 */
    background-color: #6EC5E9;
}

table.bug tr:hover th{ /* ReqS11 */
    background-color: #A8D5BA;
    
}


