 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{ /* ReqC1 */
    font-size: 1rem;/* ReqC2 */
    font-family:'Nunito',Verala Round;
    background-image: url("../resources/backgraund.png"); /* Add the backgroung img  */
    background-size: cover;
    background-attachment: fixed;
    background-color:#F5EFE6;
    color:#333333;
    margin:0;
    padding:0;/* ReqC4 */
}
.content{
    width: 70%; /*  Size of the content page*/
    margin: 0 auto;
    background-color: #F5EFE6;
    min-height: 100vh;
    padding: 1em;
}

h1{
    font-size:2rem;
    font-weight:bold;/* ReqC2 */
    margin:1.5rem 0 1rem;
    padding:0.5rem;/* ReqC3 */
}

h2{
    font-size:1.75rem;
    margin:1.5rem 0 1rem;/* ReqC2 */
    padding:1rem;/* ReqC3 */
}

main{
    width: 85vw;
    margin: 0 auto;
    padding: 2rem;/* ReqC2 *//* ReqC4 */
}



.responsive{ /* ReqC20 */
    width:80%;
    margin:0 auto;
    padding:1em;/* ReqC2 */
}
@media(max-width:768px){ /* ReqC20 */
    .responsive{
        width:90%;
        padding:0.8em;
    }
}
@media (max-width:480px){ /* ReqC20 */
    .responsive{
        width:100%;
        padding:0.6em;
    }
}

.leaf-icon{
    top: 0;
    left: 0;
    margin: 0;

}

th,td{/* ReqC17 */
    border:1px solid #DCC5A2;
    padding:0.6em;
    text-align: left;

}
thead th{/* ReqC17 */
    background-color: #EFE3D3;
    font-weight: bold;
}

input[type="email"]{ /* ReqC18 */
width:100%;
padding:0.5em;/* ReqC2 */
margin:0.4em 0 1em;
border:1px solid #DCC5A2;
border-radius:4px;
box-sizing:border-box;
}
.radiobut{/* ReqC19*/
    display:flex;
    align-items: center;
    gap:0.4em;
    
}

button{
    padding:0.6em 1em;/* ReqC2 */
    margin-right: 0.5em;
    border:none;
    background-color:#A8D5BA;
    color:white;
    border-radius:4px;
    cursor:pointer
}

select{
    width:100%;
    padding:0.5em;/* ReqC2 */
    margin:0.4em 0 1em 0;
    border:1px solid #DCC5A2;
    border-radius:4px;
    font-family:inherit;
    box-sizing: border-box;
}

.currency{/* ReqC7 */
    margin:1.5em 0;
    padding:1em;
    border:1px solid #FFD6A5;
    background-color: #FAF7F2;
}

.start{/* ReqC7 */
    margin:1.5em 0;
    padding:1em;/* ReqC2 */
    border:1px solid #FFD6A5;
    background-color: #FAF7F2;
}

.DIY{/* ReqC7 */
    margin:1.5em 0;/* ReqC2 */
    padding:1em;
    border:1px solid #FFD6A5;
    background-color: #FAF7F2;
}

.residents{/* ReqC7 */
    margin:1.5em 0;
    padding:1em;
    border:1px solid #FFD6A5;
    background-color: #FAF7F2;
}



#fishing{ /* ReqC8 */
    font-weight:bold;
}
#bugs{ /* ReqC8 */
    font-weight:bold;
}




